header {
  height: 100vh;
  height: 90vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header_container > .text-color{
  font-size: 1rem;
  color: var(--color-primary);
}


/* =============== CTA =============== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== Header Socials =============== */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 0.11rem;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== Portrait =============== */
.portrait {
  background: linear-gradient(transparent, var(--color-primary) 100%);
  width: 40rem;
  height: 45rem;
  position: absolute;
  left: calc(50% - 20rem);
  margin-top: 3.5rem;
  border-radius: 0 0 20rem 20rem;
  overflow: hidden;
  /* padding: 3.25rem 0rem 0rem 0rem; */
  padding: 21.5rem 0rem 0rem 2rem;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;

}


.portrait > img {
  /* width: 28rem;
  height: 45rem; */
  transform: scale(0.85);
  transition: ease-in-out 0.2s;
}

.portrait img:hover {
  margin: 2.5rem 0rem 0rem 0rem;
  transition: ease-in-out 0.2s;
}

/* =============== Scroll Down =============== */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========== Media Queries (MED) ============ */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
  .portrait {
    width: 30rem;
    height: 35rem;
    left: calc(50% - 15rem);
    padding: 17rem 0rem 0rem 1.5rem;
    margin: 5rem 0rem 0rem 0rem;
  }

  .portrait > img {
    transform: scale(0.90);
    padding: 0;
    
  }
}

/* ========== Media Queries (SM) ============ */
@media screen and (max-width: 600px) {
  header {
    height: 90vh;
    padding-top: 2.75rem;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
  .portrait {
    width: 18rem;
    height: 24rem;
    left: calc(50% - 9rem);
    padding: 11rem 0rem 0rem .25rem;
    margin: 2rem 0rem 0rem 0rem;
  }

  .portrait > img {
    transform: scale(0.95);
    
  }

}
